/*NAVIGATION*/
.navbar {
    margin-bottom: 0px;
}

.navcolor {
    background-color: #078EDB;
    padding: 20px 0px;
}

.navcolor .branded {
    padding-left: 50px;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif; 
    font-weight: normal;
}

.navcolor .branded:hover {
    color: #1C1C1C;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1C1C1C;
    font-family: 'Lato', sans-serif;
}
.navcolor .contact {
    padding-right: 50px;
}

.navbar-default .navbar-toggle {
    border-color: #1C1C1C;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #4ddfdf;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #1C1C1C;
}

/*MAIN*/
.main {
    min-height: 300px;
    background-color: #115A85;
    background-image: url(http://i.imgur.com/pP4KBs0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.main-words {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #1C1C1C;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    padding: 75px 0px 20px 0px;

}

/*PORTFOLIO*/

.portfolio {
  padding: 1em 0;
  background: #eef1f6;
}

.examples {
  margin: 3em auto;
  text-align: center;
  overflow: hidden;
  max-width: 1150px;
}

.examples-headline {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-color: #1B222A;
  margin-bottom: 30px;
  margin-top: 0;
}


.module {
  width: 100%;
  margin-left: 45px;
  display: table;
  text-align: center;
}

.module:first-of-type {
  margin-left: 0;
}

.module img {
  max-width: 350px;
  border-radius: 5px;
  border-radius: 0px;
  margin: 15px 15px 15px 15px;
  box-shadow: 10px 10px 5px #888888;
}




/*ABOUT*/

.about {
    padding: 30px 0px 30px 0px;
    background-color: #078EDB;
    text-align: center;
    color: #1B222A;
    font-family: 'Lato', sans-serif;
}

.about h3 {
    text-transform: uppercase;
}
.about p {
    color: #fff;
    font-size: 20px;
}


/*FOOTER*/
.footer {
    background-color: #1B222A;
    text-align: center;
    padding: 20px 20px;
    color: #078EDB;
}

.octicat {
    max-width: 80px;
    max-height: 40px;
    
}
